/* 
0 - 600px:      Phone
600-900px:       Tablet portrait
900-1200px:     Tablet landscape
[1200-1800px]:  Is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f9f9f9;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-rows: 10vh 60vh min-content 50vh 25vh;
}

.header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.btn {
  width: 15%;
  text-align: center;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  padding: 0.8rem;
  font-size: 1rem;
  /* @if $breakpoint == big-desktop {
        @media (min-width: 1800px) {
          //1800px
          @content;
        }
      } */
}
@media (max-width: 900px) {
  .btn {
    font-size: 0.8rem;
  }
}
.btn-libros {
  flex-basis: 8%;
}
.btn-autores {
  flex-basis: 8%;
}
.btn-colecciones {
  flex-basis: 8%;
}
.btn-eventos {
  flex-basis: 8%;
}
.btn-little {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  flex-basis: 8%;
}
.btn-cart {
  flex-basis: 8%;
}
.btn-empty {
  flex-basis: 25%;
  /* @if $breakpoint == big-desktop {
        @media (min-width: 1800px) {
          //1800px
          @content;
        }
      } */
}
@media (max-width: 900px) {
  .btn-empty {
    flex-basis: 1%;
  }
}

.footer {
  background-color: #a4a4a4;
}

.eventos {
  background-color: transparent;
}

.libros {
  background-color: #fcd36e;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  padding: 3rem;
}

.book {
  width: 14rem;
  height: 22vh;
  border: 2px solid black;
  margin: 1rem auto;
}

.slider {
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slidershow {
  width: 45%;
  height: 45vh;
  overflow: hidden;
  /* @if $breakpoint == big-desktop {
        @media (min-width: 1800px) {
          //1800px
          @content;
        }
      } */
  /* @if $breakpoint == big-desktop {
        @media (min-width: 1800px) {
          //1800px
          @content;
        }
      } */
  /* @if $breakpoint == big-desktop {
        @media (min-width: 1800px) {
          //1800px
          @content;
        }
      } */
}
@media (max-width: 1200px) {
  .slidershow {
    width: 55%;
  }
}
@media (max-width: 900px) {
  .slidershow {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .slidershow {
    width: 100%;
  }
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: #fff;
}

input[name=r] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

#r4:checked ~ .s1 {
  margin-left: -60%;
}

#r5:checked ~ .s1 {
  margin-left: -80%;
}

/*# sourceMappingURL=style.css.map */
