.libros {
  background-color: rgb(252, 211, 110);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  padding: 3rem;
}

.book {
  width: 14rem;
  height: 22vh;
  border: 2px solid black;
  margin: 1rem auto;
}
