.libros {
  background-color: rgb(252, 211, 110);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  border-top: 3px solid $color-black;
  border-bottom: 3px solid $color-black;
}

.book {
  width: 18rem;
  height: 22vh;
  border: 2px solid $color-black;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.8rem;
}
