* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: $color-grey-light;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-rows: 10vh;
}
