// COLORS
$color-grey-light: #f9f9f9;
$color-grey-medium: #a4a4a4;
$color-black: #000000;
$color-white: #ffffff;
$color-toTest: rgb(252, 211, 110);

// FONTS FAMILY
$font-pacifico: "Pacifico", cursive;
$font-hammersmith: "Hammersmith One", sans-serif;
